@font-face{
  font-family: 'heading';
  src: url(./font/Pacifico.ttf);
}

@font-face{
  font-family: 'p';
  src: url(./font/Chewy.ttf);
}

body {
  background: linear-gradient(to bottom, #95b9fb, #f5e7b2) ; 
}

.container {
  display: flex;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-row: repeat(15, 1fr);
}
h2{
  text-align: center;
  font-family: "heading";
  font-size: 30px;
  grid-column:5/15;
  grid-row: 1;
}
h4{
  text-align: center;
  font-family: "p";
  font-size: 20px;
  grid-column:5/15;
  grid-row: 2;
}
.prop {
  width: 150px;
  grid-column: 2/3;
  grid-row: 6/13;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per column */
  grid-template-rows: repeat(5, 1fr); /* 2 images per row */
  gap: 28px; /* space between images */
  align-items: center;
}


/* PROP CSS */
.prop img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: grab; /* when the mouse is on the button, the mouse will turn into a small hand that looks like actual grabbing*/
  margin-bottom: 5px;
  background-color: #ffecb7;
  border-radius: 7%;
}

.prop .remove-btn {
  position: absolute;
  padding: 2px 6px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}

/*STAGE/GALLERY CSS*/
/* THIS IS THE CONTAINER THAT CONTAINS ALL THE IMAGES ON THE STAGE */
.gallery { 
  position: relative; 
  width: 800px;
  height: 600px;
  padding: 16px;
  background-image: url('./images/stage.png');
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;

  grid-column: 5/15;
  grid-row: 3/12;
}

.gallery-item {
  position: absolute;
  width: 150px;
  height: 150px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  cursor: grab;
}

.gallery-item .remove-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  padding: 2px 6px;
  color: rgb(155, 150, 150);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}

/* UPLOAD/DOWNLOAD BUTTON CSS */
.upload-btn {
  background-color: #ffecb7;
  font-style: italic;
  color: rgb(78, 107, 153);
  border-radius: 8px;
  padding: 5px 10px;  
  cursor: pointer;   /* when the mouse is on the button, the mouse will turn into a hand press symbol */
  font-size: 15px;
  text-align: center;
  grid-column: 2/5;
  grid-row: 4/5;
  margin-bottom: 5px;
}
.upload-btn:hover {
  background-color: #fbefca;
  transform: scale(1.05);   /* becomes bigger when hovered */
}
.upload-btn input {
  display: none; /* hide the choose files word*/
}
.download-btn{
  grid-column: 5/15;
  grid-row: 12/13;
  margin-bottom: 15px;
}

/* PLAN BOX CSS for index.html*/
#plan-container {
  padding: 10px;
  width: 250px;
  height: 300px;
  overflow-y: auto;
  position: fixed;
  right: 20px;
  bottom: 130px;
  background: #c6e6f9;
  border-radius: 4%;
}

#messages {
  height: 180px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
}

#msgInput {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#button {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
}
